<html>
<head>
    <title>Dealer Twit</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
    <script src="static/map.js"></script>
    <script src="static/script.js"></script>
</head>
<body>

<div class="homepage-hero-module">
	<div class="video-container">
		<div class="filter"></div>
		<video autoplay loop class="fillWidth">
			<source src="static/type/MP4/Type.mp4" type="video/mp4" />
			<source src="static/type/WEBM/Type.webm" type="video/webm" />
		</video>
		<div class="poster hidden">
			<img src="static/type/Snapshots/Type.jpg" alt="">
		</div>
		<img src="static/cdk.png" class="cdk">
		<div class="title-container">
			<div><img src="static/logo.png"></div>
			<p style="margin: 20px 0; font-size: 20px;">Real feedback of your customers from Twitter</p>
        	<p style="margin: 20px 0;">
        		<a href="/auth/twitter" class="btn btn-info" style="padding: 10px 60px">
        			<span class="fa fa-twitter"></span>&nbsp;&nbsp;Login with Twitter
        		</a>
        	</p>
		</div>
	</div>
</div>
</div>
</body>
</html>  